<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="{{ secure_asset('css/pdf/pdf.css') }}">
	<title>Reporte promedios</title>
</head>
@php
	$numeroDeMaterias = count($matters);
@endphp
<body>
	<div style="page-break-after:always;"></div>
	{{-- 1ra hoja --}}
	@include('partials.encabezados.reporte-formato-horizontal-principal')
	<br>
	<table class="table whitespace-no">
		<tr>
			<td width="5" rowspan="3">No.</td>
			<td rowspan="3" class="text-center up">apellidos y nombres </td>
			<td rowspan="3" class="text-center">Promedio General</td>
			@foreach($matters->take(3) as $matter)
				<td colspan="11" class="text-center up">{{ $matter->nombre }}</td>
			@endforeach
		</tr>
		<tr>
			@foreach($matters->take(3) as $matter)
			<td rowspan="2" class="text-center">Prom.</td>
			<td colspan="5" class="text-center">Q1</td>
			<td colspan="5" class="text-center">Q2</td>
			@endforeach
		</tr>
		<tr>
			@foreach($matters->take(3) as $matter)
			<td class="text-center">Q1</td>
			<td class="text-center">P1</td>
			<td class="text-center">P2</td>
			<td class="text-center">P3</td>
			<td class="text-center">EX.</td>
			<td class="text-center">Q2</td>
			<td class="text-center">P1</td>
			<td class="text-center">P2</td>
			<td class="text-center">P3</td>
			<td class="text-center">EX.</td>
			@endforeach
		</tr>
		@foreach($students as $student)
		<tr>
			<td class="text-center">{{ $loop->iteration }}</td>
			<td class="up">{{ $student->apellidos }} {{ $student->nombres}}</td>
			<td class="text-center">{{ bcdiv($promediogeneral[$student->id], '1', 2) }}</td>
			@foreach($matters->take(3) as $matter)
			<td class="text-center">{{ bcdiv($promedioTotalMateria[$matter->id][$student->id], '1', 2) }}</td>
			<td class="text-center">{{ bcdiv($promediosTotalQ1[$matter->id][$student->id], '1', 2) }}</td>
			<td class="text-center">{{ bcdiv($promediosP1Q1[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
			<td class="text-center">{{ bcdiv($promediosP2Q1[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
			<td class="text-center">{{ bcdiv($promediosP3Q1[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
			<td class="text-center">{{ bcdiv($examenesQ1[$matter->id][$student->id], '1', 2) }}</td>
			<td class="text-center">{{ bcdiv($promediosTotalQ2[$matter->id][$student->id], '1', 2) }}</td>
			<td class="text-center">{{ bcdiv($promediosP1Q2[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
			<td class="text-center">{{ bcdiv($promediosP2Q2[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
			<td class="text-center">{{ bcdiv($promediosP3Q2[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
			<td class="text-center">{{ bcdiv($examenesQ2[$matter->id][$student->id], '1', 2) }}</td>
			@endforeach
		</tr>
		@endforeach
	</table>
	<div style="page-break-after:always;"></div>
	@if ($numeroDeMaterias < 8)
		{{-- 2da hoja --}}
		<div style="visibility:hidden">
			@include('partials.encabezados.reporte-formato-horizontal-principal')
		</div>
		<br>
		<table class="table whitespace-no">
			<tr>
				<td width="5" rowspan="3" class="text-center">No.</td>
				@foreach($matters->slice(3)->take(4) as $matter)
					<td colspan="11" class="text-center up">{{ $matter->nombre }}</td>
				@endforeach
			</tr>
			<tr>
				@foreach($matters->slice(3)->take(4) as $matter)
				<td rowspan="2" class="text-center">Prom.</td>
				<td colspan="5" class="text-center">Q1</td>
				<td colspan="5" class="text-center">Q2</td>
				@endforeach
			</tr>
			<tr>
				@foreach($matters->slice(3)->take(4) as $matter)
				<td class="text-center">Q1</td>
				<td class="text-center">P1</td>
				<td class="text-center">P2</td>
				<td class="text-center">P3</td>
				<td class="text-center">EX.</td>
				<td class="text-center">Q1</td>
				<td class="text-center">P1</td>
				<td class="text-center">P2</td>
				<td class="text-center">P3</td>
				<td class="text-center">EX.</td>
				@endforeach
			</tr>
			@foreach($students as $student)
			<tr>
				<td class="text-center">{{ $loop->iteration }}</td>
				@foreach($matters->slice(3)->take(4) as $matter)
				<td class="text-center">{{ bcdiv($promedioTotalMateria[$matter->id][$student->id], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosTotalQ1[$matter->id][$student->id], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosP1Q1[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosP2Q1[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosP3Q1[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($examenesQ1[$matter->id][$student->id], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosTotalQ2[$matter->id][$student->id], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosP1Q2[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosP2Q2[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosP3Q2[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($examenesQ2[$matter->id][$student->id], '1', 2) }}</td>
				@endforeach
			</tr>
			@endforeach
		</table>
	@elseif ($numeroDeMaterias < 12)
		{{-- 2da hoja --}}
		<div style="visibility:hidden">
			@include('partials.encabezados.reporte-formato-horizontal-principal')
		</div>
		<br>
		<table class="table whitespace-no">
			<tr>
				<td width="5" rowspan="3" class="text-center">No.</td>
				@foreach($matters->slice(3)->take(4) as $matter)
					<td colspan="11" class="text-center up">{{ $matter->nombre }}</td>
				@endforeach
			</tr>
			<tr>
				@foreach($matters->slice(3)->take(4) as $matter)
				<td rowspan="2" class="text-center">Prom.</td>
				<td colspan="5" class="text-center">Q1</td>
				<td colspan="5" class="text-center">Q2</td>
				@endforeach
			</tr>
			<tr>
				@foreach($matters->slice(3)->take(4) as $matter)
				<td class="text-center">Q1</td>
				<td class="text-center">P1</td>
				<td class="text-center">P2</td>
				<td class="text-center">P3</td>
				<td class="text-center">EX.</td>
				<td class="text-center">Q1</td>
				<td class="text-center">P1</td>
				<td class="text-center">P2</td>
				<td class="text-center">P3</td>
				<td class="text-center">EX.</td>
				@endforeach
			</tr>
			@foreach($students as $student)
			<tr>
				<td class="text-center">{{ $loop->iteration }}</td>
				@foreach($matters->slice(3)->take(4) as $matter)
				<td class="text-center">{{ bcdiv($promedioTotalMateria[$matter->id][$student->id], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosTotalQ1[$matter->id][$student->id], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosP1Q1[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosP2Q1[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosP3Q1[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($examenesQ1[$matter->id][$student->id], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosTotalQ2[$matter->id][$student->id], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosP1Q2[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosP2Q2[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosP3Q2[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($examenesQ2[$matter->id][$student->id], '1', 2) }}</td>
				@endforeach
			</tr>
			@endforeach
		</table>
		<div style="page-break-after:always;"></div>
		{{-- 3ra hoja --}}
		<div style="visibility:hidden">
			@include('partials.encabezados.reporte-formato-horizontal-principal')
		</div>
		<br>
		<table class="table whitespace-no">
			<tr>
				<td width="5" rowspan="3" class="text-center">No.</td>
				@foreach($matters->slice(7)->take(4) as $matter)
					<td colspan="11" class="text-center up">{{ $matter->nombre }}</td>
				@endforeach
			</tr>
			<tr>
				@foreach($matters->slice(7)->take(4) as $matter)
				<td rowspan="2" class="text-center">Prom.</td>
				<td colspan="5" class="text-center">Q1</td>
				<td colspan="5" class="text-center">Q2</td>
				@endforeach
			</tr>
			<tr>
				@foreach($matters->slice(7)->take(4) as $matter)
				<td class="text-center">Q1</td>
				<td class="text-center">P1</td>
				<td class="text-center">P2</td>
				<td class="text-center">P3</td>
				<td class="text-center">EX.</td>
				<td class="text-center">Q1</td>
				<td class="text-center">P1</td>
				<td class="text-center">P2</td>
				<td class="text-center">P3</td>
				<td class="text-center">EX.</td>
				@endforeach
			</tr>
			@foreach($students as $student)
			<tr>
				<td class="text-center">{{ $loop->iteration }}</td>
				@foreach($matters->slice(7)->take(4) as $matter)
				<td class="text-center">{{ bcdiv($promedioTotalMateria[$matter->id][$student->id], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosTotalQ1[$matter->id][$student->id], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosP1Q1[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosP2Q1[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosP3Q1[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($examenesQ1[$matter->id][$student->id], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosTotalQ2[$matter->id][$student->id], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosP1Q2[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosP2Q2[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosP3Q2[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($examenesQ2[$matter->id][$student->id], '1', 2) }}</td>
				@endforeach
			</tr>
			@endforeach
		</table>
	@elseif($numeroDeMaterias < 17)
		{{-- 2da hoja --}}
		<div style="visibility:hidden">
			@include('partials.encabezados.reporte-formato-horizontal-principal')
		</div>
		<br>
		<table class="table whitespace-no">
			<tr>
				<td width="5" rowspan="3" class="text-center">No.</td>
				@foreach($matters->slice(3)->take(4) as $matter)
					<td colspan="11" class="text-center up">{{ $matter->nombre }}</td>
				@endforeach
			</tr>
			<tr>
				@foreach($matters->slice(3)->take(4) as $matter)
				<td rowspan="2" class="text-center">Prom.</td>
				<td colspan="5" class="text-center">Q1</td>
				<td colspan="5" class="text-center">Q2</td>
				@endforeach
			</tr>
			<tr>
				@foreach($matters->slice(3)->take(4) as $matter)
				<td class="text-center">Q1</td>
				<td class="text-center">P1</td>
				<td class="text-center">P2</td>
				<td class="text-center">P3</td>
				<td class="text-center">EX.</td>
				<td class="text-center">Q1</td>
				<td class="text-center">P1</td>
				<td class="text-center">P2</td>
				<td class="text-center">P3</td>
				<td class="text-center">EX.</td>
				@endforeach
			</tr>
			@foreach($students as $student)
			<tr>
				<td class="text-center">{{ $loop->iteration }}</td>
				@foreach($matters->slice(3)->take(4) as $matter)
				<td class="text-center">{{ bcdiv($promedioTotalMateria[$matter->id][$student->id], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosTotalQ1[$matter->id][$student->id], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosP1Q1[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosP2Q1[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosP3Q1[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($examenesQ1[$matter->id][$student->id], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosTotalQ2[$matter->id][$student->id], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosP1Q2[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosP2Q2[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosP3Q2[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($examenesQ2[$matter->id][$student->id], '1', 2) }}</td>
				@endforeach
			</tr>
			@endforeach
		</table>
		<div style="page-break-after:always;"></div>
		{{-- 3ra hoja --}}
		<div style="visibility:hidden">
			@include('partials.encabezados.reporte-formato-horizontal-principal')
		</div>
		<br>
		<table class="table whitespace-no">
			<tr>
				<td width="5" rowspan="3" class="text-center">No.</td>
				@foreach($matters->slice(7)->take(4) as $matter)
					<td colspan="11" class="text-center up">{{ $matter->nombre }}</td>
				@endforeach
			</tr>
			<tr>
				@foreach($matters->slice(7)->take(4) as $matter)
				<td rowspan="2" class="text-center">Prom.</td>
				<td colspan="5" class="text-center">Q1</td>
				<td colspan="5" class="text-center">Q2</td>
				@endforeach
			</tr>
			<tr>
				@foreach($matters->slice(7)->take(4) as $matter)
				<td class="text-center">Q1</td>
				<td class="text-center">P1</td>
				<td class="text-center">P2</td>
				<td class="text-center">P3</td>
				<td class="text-center">EX.</td>
				<td class="text-center">Q1</td>
				<td class="text-center">P1</td>
				<td class="text-center">P2</td>
				<td class="text-center">P3</td>
				<td class="text-center">EX.</td>
				@endforeach
			</tr>
			@foreach($students as $student)
			<tr>
				<td class="text-center">{{ $loop->iteration }}</td>
				@foreach($matters->slice(7)->take(4) as $matter)
				<td class="text-center">{{ bcdiv($promedioTotalMateria[$matter->id][$student->id], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosTotalQ1[$matter->id][$student->id], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosP1Q1[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosP2Q1[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosP3Q1[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($examenesQ1[$matter->id][$student->id], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosTotalQ2[$matter->id][$student->id], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosP1Q2[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosP2Q2[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosP3Q2[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($examenesQ2[$matter->id][$student->id], '1', 2) }}</td>
				@endforeach
			</tr>
			@endforeach
		</table>
		<div style="page-break-after:always;"></div>
		{{-- 4ta hoja --}}
		<div style="visibility:hidden">
			@include('partials.encabezados.reporte-formato-horizontal-principal')
		</div>
		<br>
		<table class="table whitespace-no">
			<tr>
				<td width="5" rowspan="3" class="text-center">No.</td>
				@foreach($matters->slice(11)->take(4) as $matter)
					<td colspan="11" class="text-center up">{{ $matter->nombre }}</td>
				@endforeach
			</tr>
			<tr>
				@foreach($matters->slice(11)->take(4) as $matter)
				<td rowspan="2" class="text-center">Prom.</td>
				<td colspan="5" class="text-center">Q1</td>
				<td colspan="5" class="text-center">Q2</td>
				@endforeach
			</tr>
			<tr>
				@foreach($matters->slice(11)->take(4) as $matter)
				<td class="text-center">Q1</td>
				<td class="text-center">P1</td>
				<td class="text-center">P2</td>
				<td class="text-center">P3</td>
				<td class="text-center">EX.</td>
				<td class="text-center">Q1</td>
				<td class="text-center">P1</td>
				<td class="text-center">P2</td>
				<td class="text-center">P3</td>
				<td class="text-center">EX.</td>
				@endforeach
			</tr>
			@foreach($students as $student)
			<tr>
				<td class="text-center">{{ $loop->iteration }}</td>
				@foreach($matters->slice(11)->take(4) as $matter)
				<td class="text-center">{{ bcdiv($promedioTotalMateria[$matter->id][$student->id], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosTotalQ1[$matter->id][$student->id], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosP1Q1[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosP2Q1[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosP3Q1[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($examenesQ1[$matter->id][$student->id], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosTotalQ2[$matter->id][$student->id], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosP1Q2[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosP2Q2[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosP3Q2[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($examenesQ2[$matter->id][$student->id], '1', 2) }}</td>
				@endforeach
			</tr>
			@endforeach
		</table>
	@else
		{{-- 2da hoja --}}
		<div style="visibility:hidden">
			@include('partials.encabezados.reporte-formato-horizontal-principal')
		</div>
		<br>
		<table class="table whitespace-no">
			<tr>
				<td width="5" rowspan="3" class="text-center">No.</td>
				@foreach($matters->slice(3)->take(4) as $matter)
					<td colspan="11" class="text-center up">{{ $matter->nombre }}</td>
				@endforeach
			</tr>
			<tr>
				@foreach($matters->slice(3)->take(4) as $matter)
				<td rowspan="2" class="text-center">Prom.</td>
				<td colspan="5" class="text-center">Q1</td>
				<td colspan="5" class="text-center">Q2</td>
				@endforeach
			</tr>
			<tr>
				@foreach($matters->slice(3)->take(4) as $matter)
				<td class="text-center">Q1</td>
				<td class="text-center">P1</td>
				<td class="text-center">P2</td>
				<td class="text-center">P3</td>
				<td class="text-center">EX.</td>
				<td class="text-center">Q1</td>
				<td class="text-center">P1</td>
				<td class="text-center">P2</td>
				<td class="text-center">P3</td>
				<td class="text-center">EX.</td>
				@endforeach
			</tr>
			@foreach($students as $student)
			<tr>
				<td class="text-center">{{ $loop->iteration }}</td>
				@foreach($matters->slice(3)->take(4) as $matter)
				<td class="text-center">{{ bcdiv($promedioTotalMateria[$matter->id][$student->id], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosTotalQ1[$matter->id][$student->id], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosP1Q1[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosP2Q1[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosP3Q1[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($examenesQ1[$matter->id][$student->id], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosTotalQ2[$matter->id][$student->id], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosP1Q2[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosP2Q2[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosP3Q2[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($examenesQ2[$matter->id][$student->id], '1', 2) }}</td>
				@endforeach
			</tr>
			@endforeach
		</table>
		<div style="page-break-after:always;"></div>
		{{-- 3ra hoja --}}
		<div style="visibility:hidden">
			@include('partials.encabezados.reporte-formato-horizontal-principal')
		</div>
		<br>
		<table class="table whitespace-no">
			<tr>
				<td width="5" rowspan="3" class="text-center">No.</td>
				@foreach($matters->slice(7)->take(4) as $matter)
					<td colspan="11" class="text-center up">{{ $matter->nombre }}</td>
				@endforeach
			</tr>
			<tr>
				@foreach($matters->slice(7)->take(4) as $matter)
				<td rowspan="2" class="text-center">Prom.</td>
				<td colspan="5" class="text-center">Q1</td>
				<td colspan="5" class="text-center">Q2</td>
				@endforeach
			</tr>
			<tr>
				@foreach($matters->slice(7)->take(4) as $matter)
				<td class="text-center">Q1</td>
				<td class="text-center">P1</td>
				<td class="text-center">P2</td>
				<td class="text-center">P3</td>
				<td class="text-center">EX.</td>
				<td class="text-center">Q1</td>
				<td class="text-center">P1</td>
				<td class="text-center">P2</td>
				<td class="text-center">P3</td>
				<td class="text-center">EX.</td>
				@endforeach
			</tr>
			@foreach($students as $student)
			<tr>
				<td class="text-center">{{ $loop->iteration }}</td>
				@foreach($matters->slice(7)->take(4) as $matter)
				<td class="text-center">{{ bcdiv($promedioTotalMateria[$matter->id][$student->id], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosTotalQ1[$matter->id][$student->id], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosP1Q1[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosP2Q1[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosP3Q1[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($examenesQ1[$matter->id][$student->id], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosTotalQ2[$matter->id][$student->id], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosP1Q2[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosP2Q2[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosP3Q2[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($examenesQ2[$matter->id][$student->id], '1', 2) }}</td>
				@endforeach
			</tr>
			@endforeach
		</table>
		<div style="page-break-after:always;"></div>
		{{-- 4ta hoja --}}
		<div style="visibility:hidden">
			@include('partials.encabezados.reporte-formato-horizontal-principal')
		</div>
		<br>
		<table class="table whitespace-no">
			<tr>
				<td width="5" rowspan="3" class="text-center">No.</td>
				@foreach($matters->slice(11)->take(4) as $matter)
					<td colspan="11" class="text-center up">{{ $matter->nombre }}</td>
				@endforeach
			</tr>
			<tr>
				@foreach($matters->slice(11)->take(4) as $matter)
				<td rowspan="2" class="text-center">Prom.</td>
				<td colspan="5" class="text-center">Q1</td>
				<td colspan="5" class="text-center">Q2</td>
				@endforeach
			</tr>
			<tr>
				@foreach($matters->slice(11)->take(4) as $matter)
				<td class="text-center">Q1</td>
				<td class="text-center">P1</td>
				<td class="text-center">P2</td>
				<td class="text-center">P3</td>
				<td class="text-center">EX.</td>
				<td class="text-center">Q1</td>
				<td class="text-center">P1</td>
				<td class="text-center">P2</td>
				<td class="text-center">P3</td>
				<td class="text-center">EX.</td>
				@endforeach
			</tr>
			@foreach($students as $student)
			<tr>
				<td class="text-center">{{ $loop->iteration }}</td>
				@foreach($matters->slice(11)->take(4) as $matter)
				<td class="text-center">{{ bcdiv($promedioTotalMateria[$matter->id][$student->id], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosTotalQ1[$matter->id][$student->id], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosP1Q1[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosP2Q1[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosP3Q1[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($examenesQ1[$matter->id][$student->id], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosTotalQ2[$matter->id][$student->id], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosP1Q2[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosP2Q2[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosP3Q2[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($examenesQ2[$matter->id][$student->id], '1', 2) }}</td>
				@endforeach
			</tr>
			@endforeach
		</table>
		<div style="page-break-after:always;"></div>
		{{-- 5ta hoja --}}
		<div style="visibility:hidden">
			@include('partials.encabezados.reporte-formato-horizontal-principal')
		</div>
		<br>
		<table class="table whitespace-no">
			<tr>
				<td width="5" rowspan="3" class="text-center">No.</td>
				@foreach($matters->slice(15)->take(4) as $matter)
					<td colspan="11" class="text-center up">{{ $matter->nombre }}</td>
				@endforeach
			</tr>
			<tr>
				@foreach($matters->slice(15)->take(4) as $matter)
				<td rowspan="2" class="text-center">Prom.</td>
				<td colspan="5" class="text-center">Q1</td>
				<td colspan="5" class="text-center">Q2</td>
				@endforeach
			</tr>
			<tr>
				@foreach($matters->slice(15)->take(4) as $matter)
				<td class="text-center">Q1</td>
				<td class="text-center">P1</td>
				<td class="text-center">P2</td>
				<td class="text-center">P3</td>
				<td class="text-center">EX.</td>
				<td class="text-center">Q1</td>
				<td class="text-center">P1</td>
				<td class="text-center">P2</td>
				<td class="text-center">P3</td>
				<td class="text-center">EX.</td>
				@endforeach
			</tr>
			@foreach($students as $student)
			<tr>
				<td class="text-center">{{ $loop->iteration }}</td>
				@foreach($matters->slice(15)->take(4) as $matter)
				<td class="text-center">{{ bcdiv($promedioTotalMateria[$matter->id][$student->id], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosTotalQ1[$matter->id][$student->id], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosP1Q1[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosP2Q1[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosP3Q1[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($examenesQ1[$matter->id][$student->id], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosTotalQ2[$matter->id][$student->id], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosP1Q2[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosP2Q2[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($promediosP3Q2[$matter->id][$student->id]['promedio'], '1', 2) }}</td>
				<td class="text-center">{{ bcdiv($examenesQ2[$matter->id][$student->id], '1', 2) }}</td>
				@endforeach
			</tr>
			@endforeach
		</table>
	@endif
</body>

</html>